In [20]:
import pandas as pd

In [21]:
team_names = set([])

In [22]:
import json

In [23]:
for i in range(1, 8):
    with open(f"team_names/team_names{i}.json", "r") as file:
        team_name_list = json.load(file)["names"]
        for team_name in team_name_list:
            team_names.add(team_name)

In [24]:
def get_dir_name(century, i, length):
    return f"csv ({century}{i}-{i + length})"

In [25]:
def get_year_string(century, i):
    return f"{century}{i}-{i + 1 if i != 99 else 2000}"

In [26]:
df_list = []

In [27]:
dir_name = ""
for i in range(50, 100):
    if not i % 10:
        dir_name = get_dir_name(19, i, 9)

    year_string = get_year_string(19, i)
    file_location = f"{dir_name}/laliga_points_table_{year_string}.csv"
    df = pd.read_csv(file_location)
    df["year"] = year_string
    df_list.append(df)

In [28]:
dir_name = "csv (2000-10)"
for i in range(0, 10):
    year = f"200{i}-{0 if i != 9 else 1}{i+1 if i != 9 else 0}"
    file_location = f"{dir_name}/laliga_points_table_{year}.csv"
    df = pd.read_csv(file_location)
    df["year"] = year
    df_list.append(df)

In [29]:
dir_name = "csv (2010-21)"
for i in range(10, 22):
    year = f"20{i}-{i+1}"
    file_location = f"{dir_name}/laliga_points_table_{year}.csv"
    df = pd.read_csv(file_location)
    df["year"] = year
    df_list.append(df)

In [30]:
team_dfs = {team: pd.DataFrame() for team in team_names}

In [31]:
for team in team_names:
    team_df_list = []

    for df in df_list:
        team_df = df.loc[df["team"] == team]
        if not team_df.empty:
            team_df_list.append(team_df)
    if len(team_df_list) > 0:
        team_dfs[team] = pd.concat(team_df_list, ignore_index=True)

In [32]:
for team, df in team_dfs.items():
    df.to_csv(f"teams_updated/{team}.csv", index=False)

In [16]:
consolidated_df = pd.concat(df_list, ignore_index=True)

In [17]:
consolidated_df

,position,team,played,won,drawn,lost,goals_for,goals_against,goal_difference,points,year
0,1,Atlético Madrid,30,17,6,7,87,50,+37,40,1950-51
1,2,Sevilla,30,17,4,9,79,46,+33,38,1950-51
2,3,Valencia,30,17,3,10,64,48,+16,37,1950-51
3,4,Barcelona,30,16,3,11,83,61,+22,35,1950-51
4,5,Real Sociedad,30,15,5,10,77,56,+21,35,1950-51
...,...,...,...,...,...,...,...,...,...,...,...
1323,16,Mallorca,38,10,9,19,36,63,−27,39,2021-22
1324,17,Cádiz,38,8,15,15,35,51,−16,39,2021-22
1325,18,Granada,38,8,14,16,44,61,−17,38,2021-22
1326,19,Levante,38,8,11,19,51,76,−25,35,2021-22
1327,20,Alavés,38,8,7,23,31,65,−34,31,2021-22

In [18]:
consolidated_df.to_csv("consolidated_data/consolidated.csv", index=False)