In [13]:
import pandas as pd

In [14]:
df = pd.read_csv("new.csv")
df

,original_review_text,new_review_text,tokens
0,NOTE:,NOTE:,2
1,Very bad experience with this iPhone xr phone....,Very bad experience with this iPhone xr phone....,48
2,Amazing phone with amazing camera coming from ...,Amazing phone with amazing camera coming from ...,14
3,So I got the iPhone XR just today. The product...,So I got the iPhone XR just today. The product...,165
4,I've been an android user all my life until I ...,I have been an android user all my life until ...,90
...,...,...,...
5005,Dhamaka,Dhamaka,1
5006,Goodbye,Goodbye,1
5007,Nothing,Nothing,1
5008,Superbb,Superbb,1
5009,Nothing,Nothing,1

In [15]:
with open("112003129_Assign2_Normalized.txt", "a", encoding="utf-8") as file:
    for col, series in df.iterrows():
        string = str(series["new_review_text"]) + "\t\t" + str(series["tokens"]) + "\n\n"
        file.write(string)